:root{
  --money-color: #285193;
  --money-text-color: #7A7A7A;
  --nav-text-color: #515151;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
  url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
  url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
  url('../fonts/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
*:focus{
  outline: 0;
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
img{
  max-width: 100%;
  height: auto;
}
body{
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #434343;
}
/* container  */
.container{
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
/* site-header  */
.site-header {
  border-top: 4px solid #295093;
  padding-top: 40px;
  background: #f6f6f9;
  padding-bottom: 32px;
}
.top-header{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.logo{
  display: block;
  border-radius: 5px;
  background-color: #fff;
  padding: 4px 8px;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
}
.top-header__exchange{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
  margin-left: 17px;
}
.exchange__item:not(:last-child){
  margin-right: 26px;
}
.exchange__item b{
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  
  color: #285193;
}
.exchange__item span{
  font-size: 16px;
  line-height: 19px;
  color: #7A7A7A;
}
.top-header__items{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.top-header__items-search{
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 22px;
}
.top-header__items-lang{
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  margin-right: 24px;
  border-radius: 5px;
  background-color: #fff;
}
.top-header__items-lang img{
  border-radius: 50px;
  margin-right: 5px;
}
.telegram-link{
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.telegram-link img{
  margin-right: 7px;
}
.site-nav{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(159,159,159, 0.19);
  margin-bottom: 17px;
}
.site-nav__list{
  margin: 0;
  padding: 22px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none; 
}
.site-nav__item:not(:last-child){
  margin-right: 25px;
}
.site-nav__link{
  color:  #515151;
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  transition: color 0.3s ease;
}
.site-nav__link:hover{
  color: #295091;
}
.site-reck{
  display: flex; 
}