:root {
    --bg-color: #F6F6F9;
    --font-color: #295091;
    --dark-violet: #515151;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
  
    font-family: "Rubik", sans-serif;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
  }
  .header{
    background-color: var(--bg-color);
  }
  .wrapper{
    background-color: var(--bg-color);
    max-width: 1200px;
	width: 100%;
	margin: 0 auto;
    height: auto;
    padding-top: 65px;
    align-items: center;
  }
    .top-nav{
        display: flex;
        align-items: center;
    }
    .nav-list{
       display: flex;
       list-style-type: none;
   }
   .nav-item{
       margin-left: 20px;
   }
    .money-item{
      color: var(--font-color);
      font-weight: bold;
  }
  .nav-logo{
      background-color: #ffffff;
      padding: 8px 4px;
      border-radius: 7px;
      margin-right: -19px;
  }
 
  .nav-link{
      text-decoration: none;
      font-size: 17px;
      color: #515151;
  }
  .site-nav{
      background-color: #ffffff;
      padding-top: 1px;
      padding-bottom: 1px;
      margin-top: 40px;
      justify-content: space-between;
      align-items: center;
  }
  .banner{
      margin-top: 40px;
      width: 1200px;
  }