:root {
  --bg-color: #F6F6F9;
  --font-color: #295091;
  --dark-violet: #515151;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
}
